{% extends "base.html" %}
{% block title %} SHA - Sistema de Históricos Automatizados {% endblock %}
{% load static %}
{% block content %}
<main class="content">
    <h1>Importar Ata</h1>
        <section>
            <div>
                <p>Utilize o botão abaixo para importar 
                    a sua ata de resultado final e assim
                    adicionar as informações ao banco de dados.</p>
            </div>
            <br>
            <div class ="form_box">
                <div class="form_container">
                    <form action="{% url 'importar_ata' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" id="" name="filename">
                        <button type="submit" id="addButton">Enviar</button>
                    </form>
                </div>
            </div>
        </section>
        <div id="mensagem-confirmacao" style="display: none;">
            <h3>Ata importada com sucesso!</h3>
            <button onclick="fecharMensagem()">OK</button>
        </div>
</main>
{% endblock %}