{% extends "base.html" %} {% block title %} SHA - Sistema de Históricos Automatizados {% endblock %}
{% load static %}
{% block content %}
<main class="content">
    <h1>SHA - Página Inicial</h1>
    <section>
            <div class ="image_box">
                <div class="image_container">
                 <a href="{% url 'importar_ata' %}">
                    <img src="{% static 'add.png' %}" class="menu" alt="Ícone representando um menu.">
                    <p>Importar Ata</p>
                </a>
                </div>
                <div class="image_container">
                    <a href="{% url 'upload_file' %}">
                       <img src="{% static 'add.png' %}" class="menu" alt="Ícone representando um menu.">
                       <p>Upload de Modelo de Histórico</p>
                   </a>
                   </div>
                <div class="image_container">
                    <a href="{% url 'emitir_historico' %}">
                        <img src="{% static 'download.png' %}" class="registration" alt="Ícone representando uma ficha de cadastro">
                        <p>Emitir Histórico</p>
                    </a>
                </div>
            </div>
    </section>
</main>
{% endblock %}